body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/img/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: "EB Garamond";
}

.warna {
    background-color: rgb(116, 0, 0);
}

.warna2 {
    background-color: black;
}

.social-media a {
    font-size: 40px;
    color: white;
    margin-top: 15px;
    padding: 10px;
    transition: .5s;
}

.social-media a:hover {
    transform: scale(1.2);
}

.text1 {
    color: rgb(143, 0, 0);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
}

.card {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e90000;
}

.card-body a {
    width: 100%;
    transition: .5s;
}

.card-body a:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
}

.text-uppercase {
    margin-left: 5%;
}

.text-uppercase2 {
    margin-left: 0;
    font-size: 25px;
}

footer {
    margin-top: 10%;
}

footer .social a {
    font-size: 30px;
    color: white;
    margin-top: 10px;
    transition: .5s;
}

footer .nav-link {
    margin-bottom: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
    .text1 {
        font-size: 40px;
    }

    .social-media a {
        display: flex;
        font-size: 40px;
        color: white;
        margin-top: 15px;
        padding: 10px;
        transition: .5s;
        margin-left: 35%;
        justify-content: center;
    }

    .card {
        margin-left: 5%;
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e90000;
    }

    .text-uppercase {
        margin-left: 42%;
    }

    footer .social a {
        font-size: 30px;
        color: white;
        margin-top: 10px;
        margin-left: 30%;
    }

    .text-uppercase2 {
        margin-left: 42%;
    }

    footer .nav-link {
        margin-bottom: 5px;
        margin-left: 40%;
    }
}