<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../../css/style-album.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
    rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <title>510-Music</title>
</head>

<body>

  <!-- Navbar -->

  <div class="warna">
    <div class="container-fluid px-md-5">
      <div class="row justify-content-between">
        <div class="col-md-8 order-md-last">
          <div class="row">
            <div class="col-md-6 text-center">
              <a class="navbar-brand" href="index.html"><img class="w-50 p-3" src="../img/logo.png"></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div class="social-media">
            <p class="mb-0 d-flex align-items-center">
              <a href="https://www.instagram.com/official510music/"
                class="d-flex align-items-center justify-content-center text-decoration-none"><i
                  class='bx bxl-instagram-alt'></i></a>
              <a href="https://open.spotify.com/artist/298CtZa1wRSxNc38FmWbiX?si=O-1_xmRcTgO9fc3ynMYLxQ"
                class="d-flex align-items-center justify-content-center text-decoration-none"><i
                  class='bx bxl-spotify'></i></a>
              <a href="https://www.youtube.com/channel/UCQoW3oyEeUFNi--6qcvqZcg"
                class="d-flex align-items-center justify-content-center text-decoration-none"><i
                  class='bx bxl-youtube'></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="warna2">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav m-auto">
            <li class="nav-item"><a href="../../index.html" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="../../assets/views/profil.html" class="nav-link">Profil</a></li>
            <li class="nav-item active"><a href="gallery.html" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="../../assets/views/history.html" class="nav-link">History</a></li>
            <li class="nav-item"><a href="../../assets/views/merch.html" class="nav-link">Merchendice</a></li>
            <li class="nav-item"><a href="../../assets/views/contact.html" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- END nav -->

    <!-- Judul -->
    <div class="container-fluid p-0">
        <div class="image-container">
            <img src="../../assets/img/gallery.png" alt="Gambar" class="img-fluid"> <!-- Gambar dengan kelas Bootstrap -->
            <div class="text-overlay">Gallery</div>
        </div>
    </div>
    <!-- end Judul -->

    <!-- album -->
    <div class="container album-container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img src="../img/origin.jpg" alt="Album Cover" class="album-cover"> <!-- Ganti dengan path gambar album -->
                <div class="album-info">
                    <a href="https://open.spotify.com/intl-id/album/31DAwVZhu0FRPdIpdicbMo?si=xQP_eaMyRimZ3-pAkWfNTw"><h5>Origin - 2023</h5></a> <!-- Nama album -->
                </div>
            </div>
            <div class="col-md-8">
                <h4>Daftar Lagu</h4>
                <ul class="list-unstyled">
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/3jPaoyHFX6J8dcbY9sNHYU?si=7613e722694847a7"><span>1. WhereDoWeCameFrom</span></a>
                        </div>
                        <span class="duration">2:41</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/2uayK0vVAleE8zth1vwsnm?si=63b312e3c60940ef"><span>2. Collapsed</span></a>
                        </div>
                        <span class="duration">3:45</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/46dhZZDOat25YeIbp958oV?si=dd7b89f3296349ea"><span>3. The Last Suffer</span></a>
                        </div>
                        <span class="duration">3:57</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/2fOZYrkQbSArWzdFDmTlha?si=147c53de2ae0486b"><span>4. Death Parade</span></a>
                        </div>
                        <span class="duration">3:33</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/4kiiNIJ6ADoqrTyHkWLuJa?si=2abc39bafc474a66"><span>5. Mama</span></a>
                        </div>
                        <span class="duration">4:02</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/66ALetiZ9807RpUFxP9YwW?si=1c36edc6912f4846"><span>6. Re-Mine</span></a>
                        </div>
                        <span class="duration">3:47</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/0ebM9GdvlXPaRgO4PtcFTH?si=84bb1131c9c34c35"><span>7. Sorry</span></a>
                        </div>
                        <span class="duration">4:28</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/7nQOAiHxml9y0MubUIo6id?si=2d31e2ea60634e12"><span>8. Esa</span></a>
                        </div>
                        <span class="duration">4:00</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/2YrA46ISqtMH0DGX984VKt?si=89ba995f54f44e09"><span>9. Alive</span></a>
                        </div>
                        <span class="duration">4:11</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/2r2mO9RE3WPHSuBdn9Npcz?si=6030beb21f3f4a50"><span>10. Callout</span></a>
                        </div>
                        <span class="duration">3:35</span> <!-- Durasi lagu -->
                    </li>
                    <li class="song-title">
                        <div class="song-details">
                            <a href="https://open.spotify.com/intl-id/track/4Qw7R0isAytPRFeMCoyjrI?si=1607b4e486274d8d"><span>11. Emotional Renegades</span></a>
                        </div>
                        <span class="duration">3:00</span> <!-- Durasi lagu -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end album -->

    <!-- video -->
     <h5 class="judul-video" data-aos="fade-up">Latest Official Music Video</h5>
    <div class="video-container" data-aos="fade-up">
        <iframe src="https://www.youtube.com/embed/Q3ZtirNHvEc?autoplay=1&controls=0&showinfo=0&modestbranding=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <!-- end video -->

  <!-- Footer -->
  <section class="">
    <footer class="bg-body-tertiary" style="background-color: rgb(15, 15, 15);">
      <div class="container p-3">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex justify-content-center align-items-center">
            <img style="width: 20%px;" src="../img/logo.png" alt="">
        </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase text-white">Social</h5>
  
            <ul class="social list-unstyled mb-0">
              <li>
                <a href="https://www.instagram.com/official510music/"
                class="d-flex align-items-center justify-content-left text-decoration-none"><i
                  class='bx bxl-instagram-alt'></i><small class="ms-2" style="font-size: 18px;">@official510music</small></a>
              </li>
              <li>
                <a href="https://open.spotify.com/artist/298CtZa1wRSxNc38FmWbiX?si=O-1_xmRcTgO9fc3ynMYLxQ"
                class="d-flex align-items-center justify-content-left text-decoration-none"><i
                  class='bx bxl-spotify'></i><small class="ms-2" style="font-size: 18px;">510</small></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCQoW3oyEeUFNi--6qcvqZcg"
                class="d-flex align-items-center justify-content-left text-decoration-none"><i
                  class='bx bxl-youtube'></i><small class="ms-2" style="font-size: 18px;">510</small></a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0 text-white" style="margin-left: 5%;">Menu</h5>
  
            <ul class="list-unstyled">
            <li class="nav-item"><a href="../../index.html" class="nav-link text-white" style="margin-bottom: -15px;">Home</a></li>
            <li class="nav-item"><a href="../../assets/views/profil.html" class="nav-link text-white" style="margin-bottom: -15px;">Profil</a></li>
            <li class="nav-item active"><a href="gallery.html" class="nav-link text-white" style="margin-bottom: -15px;">Gallery</a></li>
            <li class="nav-item"><a href="../../assets/views/history.html" class="nav-link text-white" style="margin-bottom: -15px;">History</a></li>
            <li class="nav-item"><a href="../../assets/views/merch.html" class="nav-link text-white" style="margin-bottom: -15px;">Merchendice</a></li>
            <li class="nav-item"><a href="../../assets/views/contact.html" class="nav-link text-white" style="margin-bottom: -15px;">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-center p-3" style="background-color: black; color: rgb(197, 197, 197);">
        © 2024 Copyright: 510music
      </div>
    </footer>
  </section>
  <!-- end footer -->

  <script>
    window.addEventListener('load', function() {
    AOS.init();
});
  </script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>